<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="helloBean" class="com.kkolcz.HelloWorld">
        <property name="name" value="Siemanko" />
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="javaMailProperties">
        <props>
          <prop key="mail.smtp.auth"></prop>
          <prop key="mail.smtp.host"></prop>
        </props>
      </property>
      <property name="username" value=""></property>
      <property name="password" value=""></property>
    </bean>

    <bean id="myMail" class="com.kkolcz.MyMail">
        <constructor-arg>
            <ref bean="mailSender" />
        </constructor-arg>
    </bean>

</beans>
